{
    "kind": "RoleBinding",
    "apiVersion": "authorization.openshift.io/v1",
    "metadata": {
        "name": "jupyterhub-hub",
        "namespace": "{{ meta.namespace }}",
        "labels": {
            "app": "jupyterhub"
        }
    },
    "subjects": [
        {
            "kind": "ServiceAccount",
            "name": "jupyterhub-hub"
        }
    ],
    "roleRef": {
        "apiGroup": "authorization.openshift.io",
        "kind": "Role",
        "name": "jupyterhub-hub",
        "namespace": "{{ meta.namespace }}"
    }
}
